In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
#importing libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split 
from sklearn.preprocessing import StandardScaler,normalize

#from sklearn.metrics import silhoutte_score

In [ ]:
data = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/german_credit_data.csv')

In [ ]:
data.head()

   Unnamed: 0  Age     Sex  ...  Credit amount Duration              Purpose
0           0   67    male  ...           1169        6             radio/TV
1           1   22  female  ...           5951       48             radio/TV
2           2   49    male  ...           2096       12            education
3           3   45    male  ...           7882       42  furniture/equipment
4           4   53    male  ...           4870       24                  car

[5 rows x 10 columns]

In [ ]:
# for missing values in each column
data.isna().sum()

Unnamed: 0            0
Age                   0
Sex                   0
Job                   0
Housing               0
Saving accounts     183
Checking account    394
Credit amount         0
Duration              0
Purpose               0
dtype: int64

In [ ]:
#for missing values in each column similar to isna().sum()
data.isnull().sum()

Unnamed: 0            0
Age                   0
Sex                   0
Job                   0
Housing               0
Saving accounts     183
Checking account    394
Credit amount         0
Duration              0
Purpose               0
dtype: int64

In [ ]:
data.isnull().sum().sum()

0

In [ ]:
numerical  = ['Credit amount', 'Age', 'Duration']
categorical = ['Sex', 'Job', 'Housing', 'Saving accounts', 'Checking account', 'Purpose']
unused = ['Unnamed: 0']

In [ ]:
data = data.drop(columns = unused)

In [ ]:
data['Saving accounts'].mode().values[0]

'little'

In [ ]:
for cat in categorical:
   data[cat] = data[cat].fillna(data[cat].mode().values[0])

In [ ]:
#k-means clustering algorithms works with numeric data
selected_cols = ['Age', 'Credit amount', 'Duration']

In [ ]:
cluster_data = data.loc[:,selected_cols]

In [ ]:
scaler = StandardScaler()

In [ ]:
normalized_df  = scaler.fit_transform(X = cluster_data.values)